@charset "UTF-8";

body{
    font-family: 'Hiragino kaku Gothic Pro','Meiryo',sans-serif;
    font-size: 14px;
    background-color: #797979;
}

h1{
    text-align: center;
}

h3{
    padding-left: 30px;
}

.header{
    border-radius: 30px;
    width: 1000px;
    margin: auto;
    background-color: #fff;
    padding-bottom: 20px;
}

.elements{
    padding-left: 50px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-left: 500px;
}