@charset "UTF-8";

body{
    font-family: 'Hiragino kaku Gothic Pro','Meiryo',sans-serif;
    font-size: 14px;
    background-color: #797979;
}


.header{
    text-align: center;
    border-radius: 30px;
    width: 1000px;
    margin: auto;
    background-color: #fff;
    padding-bottom: 30px;
}

img {
    margin: center;
    box-shadow: 5px 5px 3px rgb(177, 177, 177);
  }

a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    transition: 0.2s;
}

a:hover {
    text-decoration: underline;
}

.red a:hover{
    color: red;
}

.blue a:hover{
    color: blue;
}

.green a:hover{
    color: green;
}

.header h1{
    padding-top: 10px;
}

.index-ul{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    border-left: #fff;
    border-right: #fff;
    border-style: solid;
}

.index-ul li{
    width: 200px;
    min-width: 300px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.header h3{
    padding-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
}

.header h2{
    padding-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 20px;
}